
/* Change the background color of the header */
.skin-blue .main-header .navbar {
    background-color: #d85c5c; /* Change to your desired color */
  }
  
  /* Change the color of the logo text */
  .skin-blue .main-header .logo {
    background-color: #990c0c; /* Change to your desired color */
    color: #ffffff; /* Change to your desired text color */
  }
  
  /* Change the color of the header text (title) */
  .skin-blue .main-header .navbar .navbar-static-top {
    color: #eea4a4; /* Change to your desired text color */
  }

  .header:active {
    color: #ffffff; /* Change text color to white */
}

  .skin-blue .main-sidebar {
    background-color: #990c0c; /* Change to your desired color */
  }
  
  
  /* Change the color of the sidebar menu item hover */
  .skin-blue .main-sidebar .sidebar-menu a:hover {
    background-color: #f1a3a3; /* Change to your desired active item background color */
  }
  
  /* Change the color of the active sidebar menu item */
  .skin-blue .main-sidebar .sidebar-menu .active a {
    background-color: rgb(234, 189, 189); /* Change to your desired hover background color */
  }

  .sidebar-img {
    width: 230px; /* Ustaw szerokość na automatyczną */
    height: 160px;
    position: absolute;
    bottom: 0; 
    left: 0;
  }


