
/* --- HEADER --- */


/* colors */
.skin-red .main-header .navbar {
  background-color: #ad3c3c;
}

.skin-red .main-header .logo {
  background-color: #990c0c;
  color: #ffffff;
}

.skin-red .main-header .logo:hover{
  background-color: #990c0c;
  color: #ffffff;
}

.skin-red .main-header .sidebar-toggle:hover {
  color: #ad3c3c !important;
  background-color: #ffffff !important;
}





/* fixed position */
.main-header {
  position: fixed;
  width: 100%;
  z-index: 1000;
}



/* --- SIDE BAR ---*/

/* colors */
/*

.skin-red .main-sidebar {
  background-color: #d85c5c;
}

.skin-red .main-sidebar .sidebar-menu a:hover {
  background-color: #f1a3a3;
}

.skin-red .main-sidebar .sidebar-menu .active a {
  background-color: rgb(234, 189, 189);
}

*/


/* fixed position */
.main-sidebar {
  position: fixed;
  height: 100%;
  overflow: auto;
}

.main-sidebar .sidebar {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.main-sidebar img {
  align-self: center;
  margin-bottom: 0px;
}



/* --- WRAPPER ---*/
.content-wrapper {
  margin-top: 50px;
}



/* --- SELECT --- */
.select .selectize-input {
  border-color: #41424C;
  box-shadow:none !important;
  
}

.select .selectize-dropdown-content .option {
  background-color: #ffffff !important;
  color: #41424C;
}

.select .selectize-dropdown-content .active {
  background-color: #990c0c !important;
  color: #ffffff;
}

.selectize-dropdown-content .active:hover {
  background-color: #990c0c !important;
  color: #ffffff;
}

  
